In [3]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns, sklearn as sl

In [4]:
dataset  = pd.read_csv(r'~/Desktop/tech/data/data.csv')
len(dataset)
dataset.shape

(10000, 14)

In [5]:
# Data wrangling
# Check for missing values
dataset.isnull().any() # Returned no missing  values
# The reason that no missing values are returned, since we selected the dataset with high usability criteria of 1.0 from the Kaggle API

Row            False
Id             False
Surname        False
Score          False
Nationality    False
Gender         False
Age            False
Tenure         False
Balance        False
Products       False
Card           False
Active         False
Salary         False
Exited         False
dtype: bool

In [6]:
dataset

,Row,Id,Surname,Score,Nationality,Gender,Age,Tenure,Balance,Products,Card,Active,Salary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# to achieve the summary of the dataset, a statistical overview
dataset.describe()
# Card , Exited and Active are categorical variables

,Row,Id,Score,Age,Tenure,Balance,Products,Card,Active,Salary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [8]:
dataset['Card'].value_counts() # this gives us ann idea of how many people have credit cards out of the total number. Similarly we can get an idea of how many members are active and how many of them have exited
#we can also know the figures in % instead of value counts

1    7055
0    2945
Name: Card, dtype: int64

In [9]:
# Changing the name of the columns and the datatypes
dataset = dataset.rename(columns={'Score':'Credit_Score','Active':'Is_active_member','Products':'No_of_Products','Exited':'Churn','Card':'Has_credit_card'})
dataset

,Row,Id,Surname,Credit_Score,Nationality,Gender,Age,Tenure,Balance,No_of_Products,Has_credit_card,Is_active_member,Salary,Churn
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [10]:
# Drop Customer ID, since unique for all
dataset.drop(labels=['Id'], axis=1, inplace=True)
dataset.drop(labels=['Row'], axis=1, inplace=True)
dataset.drop(labels=['Surname'], axis=1, inplace=True)

In [11]:
dataset.columns

Index(['Credit_Score', 'Nationality', 'Gender', 'Age', 'Tenure', 'Balance',
       'No_of_Products', 'Has_credit_card', 'Is_active_member', 'Salary',
       'Churn'],
      dtype='object')

In [12]:
dataset.dtypes

Credit_Score          int64
Nationality          object
Gender               object
Age                   int64
Tenure                int64
Balance             float64
No_of_Products        int64
Has_credit_card       int64
Is_active_member      int64
Salary              float64
Churn                 int64
dtype: object

In [13]:
# convert the dtypes of the Nationality, Has_credit_card, Churn and Gender to categorical variables

In [14]:
dataset['Nationality'] = dataset['Nationality'].astype('category')
dataset['Gender'] = dataset['Gender'].astype('category')
dataset['Has_credit_card'] = dataset['Has_credit_card'].astype('category')
dataset['Churn'] = dataset['Churn'].astype('category')

In [15]:
# converting the categorical variable to dummy variables
dataset['Nationality'] = dataset['Nationality'].astype('category').cat.codes
dataset['Gender'] = dataset['Gender'].astype('category').cat.codes
dataset['Has_credit_card'] = dataset['Has_credit_card'].astype('category').cat.codes
dataset['Churn'] = dataset['Churn'].astype('category').cat.codes

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [17]:
dataset.dtypes

Credit_Score          int64
Nationality            int8
Gender                 int8
Age                   int64
Tenure                int64
Balance             float64
No_of_Products        int64
Has_credit_card        int8
Is_active_member      int64
Salary              float64
Churn                  int8
dtype: object

In [18]:
# Encoding the categorical variables
dataset.dtypes

Credit_Score          int64
Nationality            int8
Gender                 int8
Age                   int64
Tenure                int64
Balance             float64
No_of_Products        int64
Has_credit_card        int8
Is_active_member      int64
Salary              float64
Churn                  int8
dtype: object

In [19]:
dataset.dtypes

Credit_Score          int64
Nationality            int8
Gender                 int8
Age                   int64
Tenure                int64
Balance             float64
No_of_Products        int64
Has_credit_card        int8
Is_active_member      int64
Salary              float64
Churn                  int8
dtype: object

In [20]:
dataset

,Credit_Score,Nationality,Gender,Age,Tenure,Balance,No_of_Products,Has_credit_card,Is_active_member,Salary,Churn
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [21]:
target = 'Churn'
X = dataset.drop('Churn', axis = 1)
Y = dataset[target]

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15, random_state=123, stratify=Y)

In [23]:
forest = RandomForestClassifier(n_estimators=500, random_state=1)
forest.fit(X_train, Y_train)

RandomForestClassifier(n_estimators=500, random_state=1)

In [24]:
importances = forest.feature_importances_
importances

array([0.14428319, 0.0381962 , 0.01952819, 0.24225176, 0.08155694,
       0.14172846, 0.12783261, 0.01908995, 0.03901949, 0.14651321])

In [25]:
features = dataset.drop(['Churn'], axis=1).columns
indices = np.argsort(importances)[::1]
indices

array([7, 2, 1, 8, 4, 6, 5, 0, 9, 3])

In [26]:

feature_imp_df = pd.DataFrame({'Feature':features, 'Importance':importances})
feature_imp_df
# Age has the highest importance

            Feature  Importance
0      Credit_Score    0.144283
1       Nationality    0.038196
2            Gender    0.019528
3               Age    0.242252
4            Tenure    0.081557
5           Balance    0.141728
6    No_of_Products    0.127833
7   Has_credit_card    0.019090
8  Is_active_member    0.039019
9            Salary    0.146513

In [27]:
# logistic Regression (basic classification method) building
!pip install statsmodels

Requirement already satisfied: statsmodels in /home/ch/.local/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: numpy>=1.17 in /home/ch/.local/lib/python3.8/site-packages (from statsmodels) (1.22.4)
Requirement already satisfied: pandas>=0.25 in /home/ch/.local/lib/python3.8/site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: scipy>=1.3 in /home/ch/.local/lib/python3.8/site-packages (from statsmodels) (1.8.1)
Requirement already satisfied: packaging>=21.3 in /home/ch/.local/lib/python3.8/site-packages (from statsmodels) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /home/ch/.local/lib/python3.8/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ch/.local/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ch/.local/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/ch/.local/lib/python3.8/site-packages (from packaging>=21.3->statsmodels) (3.0.8)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5.2->statsmodels) (1.14.0)

In [28]:
import statsmodels.api as sm

In [29]:
logreg = sm.Logit(Y_train, X_train)
logiregre = logreg.fit()

Optimization terminated successfully.
         Current function value: 0.443105
         Iterations 6

In [30]:
logiregre.summary
logiregre.params

Credit_Score       -3.743788e-03
Nationality         4.882661e-02
Gender             -6.349627e-01
Age                 6.087664e-02
Tenure             -4.738856e-02
Balance             3.412164e-06
No_of_Products     -3.047317e-01
Has_credit_card    -1.698381e-01
Is_active_member   -1.080138e+00
Salary             -9.660499e-07
dtype: float64

In [31]:
five_top_features = ['Age','Salary','Credit_Score','Balance','No_of_Products']
logreg = sm.Logit(Y_train, X_train[five_top_features])
logiregre = logreg.fit()

Optimization terminated successfully.
         Current function value: 0.472857
         Iterations 6

In [32]:
logiregre.summary
logiregre.params

Age               0.048356
Salary           -0.000001
Credit_Score     -0.004471
Balance           0.000003
No_of_Products   -0.361468
dtype: float64

In [33]:
# function to commpute coefficients manually using statsmodel api
coef = logiregre.params
def y(coef, Age, Salary, Credit_Score, Balance, No_of_Products):
    return coef[0]*Age + coef[1]*Salary + coef[2]*Credit_Score + coef[1]*Balance + coef[2]*No_of_Products

In [34]:
# Calculating probability od churning of a person with these characterstics
import numpy as np
y1 = y(coef, 50, 100000, 600, 100000, 2)
p = np.exp(y1) / (1+np.exp(y1))
p

0.38218371507562066

In [35]:
# building classifier and computing accuracy of model using SKLEARN
from sklearn.linear_model import LogisticRegression

# fitting the logistic regression model on the partitioned dataset
clf = LogisticRegression(random_state = 0, solver = 'lbfgs').fit(X_train[five_top_features], Y_train )

In [36]:
# calling predict and predict_proba functions on the test dataset
clf.predict(X_test[five_top_features])
clf.predict_proba(X_test[five_top_features])
# The first elemnet in the array divided the probability of churning to not churning which is 61% Not Churning, 38 Percent Churn

array([[0.61546446, 0.38453554],
       [0.76703053, 0.23296947],
       [0.78135159, 0.21864841],
       ...,
       [0.55232038, 0.44767962],
       [0.85319191, 0.14680809],
       [0.75857364, 0.24142636]])

In [37]:
# Lets check the accuray of the model
clf.score(X_test[five_top_features], Y_test)
# This means that the model has 'x' accuracy on the test dataset , trained from the training split

0.79

In [38]:
import pickle

In [40]:
# saving the model to a pickle file
pickle_filename = '../churnmodel.pkl'
with open (pickle_filename, 'wb') as file:
    pickle.dump(clf, file)